<div class="animate__animated animate__bounceIn">
    <h2>By Country:</h2>

    <hr>

    <div class ="row">
        <div class="col">
            <app-input 
            (onEnter)= "search($event)"
            (onDebounce) = "suggestion($event)">

            </app-input>

        </div>
    </div>
    <hr>
    <div class= "alert-danger" *ngIf = "errorFound">
        There are no matches with  <strong>{{term}}</strong>
    </div>

    <div class="row" >
        <div class = "col">
            <app-country-table [data] = "countries"></app-country-table>
            
        </div>

    </div>
</div>