<div class="animate__animated animate__bounceIn">
    <h3>By Region: <small>{{activeRegion | titlecase}}</small></h3>
    <hr>

    <h5>Please choose one option:</h5>

    <div class = "row">
        <div class= "col">
            <button *ngFor= "let region of regions"
            [class] = "(region === activeRegion)? 'btn btn-primary': 'btn-outline-primary'"
            (click)= "activateRegion(region)">
                {{region | titlecase}}
            </button>
        </div>
    </div>


    <div class="row" >
        <div class = "col">
            <app-country-table [data2] = "countries"></app-country-table>
            
        </div>

    </div>
</div>