<div class="row container mt-4">
    <div class = "col-3">
        <h2>Búsquedas</h2>
        <hr>
        <ul id = "ulist">
            <li class = "list-group-item" routerLink = "" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact : true}">Buscar país</li>
            <li class = "list-group-item" routerLink = "region" routerLinkActive = "active">Buscar por region</li>
            <li routerLink = "capital" class = "list-group-item" routerLinkActive = "active">Buscar por capital</li>
        </ul>
    </div>


    <div class = "col">
        <router-outlet></router-outlet>
        
        <hr>
    </div>

</div>
