<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Pais, Capital</th>
            <th>Poblacion</th>
            <th></th>

        </tr>
    </thead>

  
    <tbody >
        <tr *ngFor= "let result of countries; let i = index">
            <td>{{i + 1}}</td>
            <td><img class = "small-flag" src = {{result.flag}}></td>
            <td>{{result.name}}, {{result.capital}} </td>
            <td>{{result.population |number}}</td>
            <td>
                <a [routerLink]="['/country', result.alpha2Code]">Ver más...</a>
            </td>
        </tr>
    </tbody>

</table>
